
header {
    background: gray;
    padding: 8px 10px 4px 4px;
    grid-column: 1/8;

}
.body {
    display: grid;
    height: 30vh;
    grid-template-columns: 80% 20%;
    position: relative;
}

nav {
    margin: auto auto auto;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    grid-column: 1/4;
    height: 8vh;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    font-weight: 500;
    display: block;
    color: #eee;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover {
    text-decoration: underline;
    text-decoration-color:antiquewhite;
}

.main-Content{
    background-color: lightgray;
    position: relative;
}
.aside-Content {
    background-color: white;
}
.aside-Content, 
.main-Content{
    padding: 30px 20px ;
}
footer {
    background-color: gray;
    text-align: center;
    grid-column: 1/8;
    height: 20vh;
    padding: 20px;
}