@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    #menu {
        display: none;
    }
    nav:hover {
        text-decoration: underline;
        background-color: rgb(194, 216, 197);
        color: black;
    }

    .navigation {
        display: flex;
        flex-wrap: row;
        gap: 70px;
        list-style: none;
        padding: 20px;
    }

    .navigation a {
        font-size: large;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2rem;
        padding: 1rem;
    }

    .gallery section {
        background: #eee;
        border: 1px solid #ccc;
        padding: 1rem;
        text-align: center;
    }

    .gallery img {
        width: 100%;
        height: auto;
        margin-top: 1rem;
        box-shadow: 0 0 15px gray;
    }

    .gallery h2 {
        margin-bottom: .5rem;
    }

    .gallery span {
        font-weight: bold;
        color: purple;
    }
}